<div class="row mx-0">
	<div class="col-xl-9 col-lg-8 col-md-12 pl-md-0">
		<div class="card mb-4">
			<div class="card-body">
				<div class="kt-container kt-container--fluid h-100 user_info_sec">
					<div class="row mx-0 h-100 w-100">
					<h5 class="col-md-1 col-6 d-flex align-items-center mb-0 px-md-0">
						<div class="current_user w-75">
							<img class="br_50 w-100" src="./assets/media/users/100_13.jpg" alt="Generic" />
							<div class="online_dot"></div>
						</div>
					</h5>
					<div class="d-md-none d-block col-6">
						<div class="col-12 media d-flex align-items-center mb-2">
							<i class="fa fa-user-circle mr-3" ></i>
							<div class="media-body">
								<h6 class="my-0">Adrian Reuel</h6>
							</div>
						</div>
						<div class="col-12 media d-flex align-items-center mb-2">
							<i class="fa fa-envelope mr-3" ></i>
							<div class="media-body">
								<h6 class="my-0 word_break">ram1939@gmail.com</h6>
							</div>
						</div>
						<div class="col-12 media d-flex align-items-center mb-2">
							<i class="fa fa-map-marker-alt mr-3" ></i>
							<div class="media-body">
								<h6 class="my-0">France</h6>
							</div>
						</div>
						<div class="col-12 media d-flex align-items-center mb-2">
							<i class="fa fa-laptop mr-3" ></i>
							<div class="media-body">
								<h6 class="my-0">Desktop</h6>
							</div>
						</div>
					</div>
					<div class="d-md-flex d-none col-md-11">
					<div class="col-md-3 col-4 d-flex align-items-center">
						<div class="media d-flex align-items-center">
							<i class="fa fa-user-circle fa-2x mr-3" ></i>
							<div class="media-body">
							  <h6 class="my-0">Adrian Reuel</h6>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-4 d-flex align-items-center">
						<div class="media d-flex align-items-center">
							<i class="fa fa-envelope fa-2x mr-3" ></i>
							<div class="media-body">
							  <h6 class="my-0 word_break">ram1939@gmail.com</h6>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-4 d-flex align-items-center">
						<div class="media d-flex align-items-center">
							<i class="fa fa-map-marker-alt fa-2x mr-3" ></i>
							<div class="media-body">
							  <h6 class="my-0">France</h6>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-4 d-flex align-items-center">
						<div class="media d-flex align-items-center">
							<i class="fa fa-laptop fa-2x mr-3" ></i>
							<div class="media-body">
							  <h6 class="my-0">Desktop</h6>
							</div>
						</div>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div> 
			
		<div class="row mx-0 mb-4">
			<div class="col-md-6 col-12 pl-md-0 px-0 pr-md-3 mb-md-0 mb-3">
				<div class="card">
					<div class="row mx-0">
						<div class="col-12 text-center">
							<h4 class="card_head my-4">Suggest Products</h4>
						</div>
					</div>
					<div class="card-body suggest_sec mb-4">
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product3.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Anthelios - Dermo-Pediatrics</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">SPF50+ - 200ml</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product1.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Anthelios - Dermo-Pediatrics</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">SPF50+ - 125ml</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product2.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Anthelios</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">Pigmentation Crème Teintée</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product4.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Bal Masqué des Sorciers Masque high-tech</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">de nuit auto-bronzant déstressant - 50 ml</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product3.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Absolue Keratine</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">[98765412302579]</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product1.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Articulations & Muscles</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">Cryo pure spray - 150 ml</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product4.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Bariésun - Brume sèche</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">SPF50+ - 200 ml</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product2.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Bariésun</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">Crème Minérale Compacte Teintée SPF50+</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product1.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Antioxidant Lip Repair</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">10 ml</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="card suggest_card mb-2">
							<div class="card-body">
								<div class="row mx-0">
									<div class="col-2 d-flex align-items-center justify-content-center">
										<img class="w-75" src="./assets/media/products/product2.jpg" alt="Generic placeholder image">
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<h6 class="mt-0 mb-1">Aquabella</h6>
									</div>
									<div class="col-4 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1 word_break">Émulsion hydratante révélatrice</p>
									</div>
									<div class="col-2 d-flex align-items-center justify-content-center">
										<p class="text-muted mb-1">€ 37,28 </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 pr-md-0 col-12 px-0 pl-md-3">
				<div class="card h-100 contact_sec" style="background: url('./assets/media/bg/customer_bg.jpg');">
					<div class="card-body">
					  
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body kt-portlet py-0">
					<div class="kt-portlet__head border-0 row mx-0">
						<div class="kt-portlet__head-label col-md-4 col-6">
							<button class="btn prod_search_btn d-flex align-items-center" data-toggle="modal" data-target="#product_search_modal" type="button">
								All Products &nbsp;&nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
							</button>
						</div>
						<div class="right_content d-flex align-items-center justify-content-md-start justify-content-end col-md-8 col-6">
							<div class="form-group has-search mb-0 w-75">
								<span class="fa fa-search form-control-feedback fa-lg"></span>
								<input type="text" class="form-control border-0 bg_lite" placeholder="Search">
							</div>
						</div>
					</div>
					<!--full height portlet body-->
					<div class="kt-portlet__body kt-portlet__body--fluid kt-portlet__body--fit px-4">
						<div class="scroll_div row mt-0 py-4 mx-0 px-0 align-items-center">
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product2.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Anthelios - Dermo-Pediatrics</h6>
													<p class="text-muted mb-1">SPF50+ - 200ml</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Anthelios - Dermo-Pediatrics</h6>
													<p class="text-muted mb-1">SPF50+ - 125ml</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product3.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Anthelios </h6>
													<p class="text-muted mb-1">Pigmentation Crème Teintée</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product4.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Bal Masqué des Sorciers Masque high-tech</h6>
													<p class="text-muted mb-1">de nuit auto-bronzant déstressant - 50 ml</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product2.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Absolue Keratine</h6>
													<p class="text-muted mb-1">[98765412302579]</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product3.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Articulations & Muscles</h6>
													<p class="text-muted mb-1">Cryo pure spray - 150 ml</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Bariésun - Brume sèche</h6>
													<p class="text-muted mb-1">SPF50+ - 200 ml</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product4.jpg" alt="Generic placeholder image">
													</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Bariésun</h6>
													<p class="text-muted mb-1">Crème Minérale Compacte Teintée SPF50+</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product3.jpg" alt="Generic placeholder image">
													</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Antioxidant Lip Repair</h6>
													<p class="text-muted mb-1">10 ml</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Aquabella</h6>
													<p class="text-muted mb-1">Émulsion hydratante révélatrice de beauté</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product2.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Aquabella - Gelée purifiante</h6>
													<p class="text-muted mb-1">micro-exfoliante - 150 ml</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
							<div class="col-md-2 col-6 col-sm-4">
								<div class="card scroll_card">
									<div class="card-body">
										<div class="media align-items-center justify-content-center h-100">
											<div class="d-block w-100 text-center">
												<div class="col-12 d-flex align-items-center justify-content-center">
													<img class="mr-1 mb-3 w-75" src="./assets/media/products/product3.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body">
													<h6 class="mt-0 mb-1 text-muted">Aqualarm U.P.</h6>
													<p class="text-muted mb-1">Solution ophtalmique - 10 ml</p>
													<p class="text-muted">€ 37,28 </p>
												</div>
											</div>
										</div>
									</div>
								  </div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-12 cart_div pr-md-0">
		<div class="card h-100">
			<div class="row mx-0">
				<div class="col-12 text-center">
					<h4 class="card_head my-4">My Cart</h4>
				</div>
			</div>
			<div class="card-body my_cart_sec">
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product3.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Anthelios - Dermo-Pediatrics</h6>
								<p class="text-muted mb-1 word_break">SPF50+ - 200ml</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product4.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Anthelios - Dermo-Pediatrics</h6>
								<p class="text-muted mb-1 word_break">SPF50+ - 125ml</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product2.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Anthelios</h6>
								<p class="text-muted mb-1 word_break">Pigmentation Crème Teintée</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product4.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Bal Masqué des Sorciers Masque high-tech</h6>
								<p class="text-muted mb-1 word_break">de nuit auto-bronzant déstressant - 50 ml</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product3.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Articulations & Muscles</h6>
								<p class="text-muted mb-1 word_break">Cryo pure spray - 150 ml</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product1.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Bariésun - Brume sèche</h6>
								<p class="text-muted mb-1 word_break">SPF50+ - 200 ml</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product2.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Bariésun</h6>
								<p class="text-muted mb-1 word_break">[98765412302579]</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product3.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Antioxidant Lip Repair</h6>
								<p class="text-muted mb-1 word_break">10 ml</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product2.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Aquabella</h6>
								<p class="text-muted mb-1 word_break">Émulsion hydratante révélatrice de beauté</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product4.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Aquabella - Gelée purifiante</h6>
								<p class="text-muted mb-1 word_break">micro-exfoliante - 150 ml</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product1.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Aqualarm U.P.</h6>
								<p class="text-muted mb-1 word_break">Solution ophtalmique - 10 ml</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card cart_cards mb-4">
					<div class="card-body">
						<div class="row mx-0">
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<img class="w-75" src="./assets/media/products/product8.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-6 d-flex align-items-center justify-content-center">
								<div class="d-block">
								<h6 class="mt-0 mb-1">Absolue Keratine</h6>
								<p class="text-muted mb-1 word_break">[98765412302579]</p>
								</div>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center px-0">
								<p class="text-muted mb-1 price_text">€ 37,28 </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer total_sec p-4">
				<div class="row m-2">
					<div class="col-lg-6 col-12">
						<h5>Total</h5>
					</div>
					<div class="col-lg-6 col-12 d-flex align-items-center justify-content-end">
						<h5 class="text-success">€ 0.00</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <div class="row">
	<div class="col-xl-6">
		<div class="row row-full-height">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
						<kt-widget26 [value]="'234+'" [desc]="'Transactions'" [options]="chartOptions3"></kt-widget26>
					</kt-portlet-body>
				</kt-portlet>

				<div class="kt-space-20"></div>

				<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
						<kt-widget26 [value]="'4.4M$'" [desc]="'Paid Comissions'" [options]="chartOptions4"></kt-widget26>
					</kt-portlet-body>
				</kt-portlet>
			</div>
		</div>
	</div>
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Order Statistics'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget12></kt-widget12>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div> -->


<!-- <kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit'">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-xl-4">
				<kt-widget1></kt-widget1>
			</div>
			<div class="col-xl-4">
				<kt-widget14 [title]="'Daily Sales'" [desc]="'Check out each collumn for more details'"></kt-widget14>
			</div>
			<div class="col-xl-4">
				<kt-widget14 [title]="'Revenue Change'" [desc]="'Revenue change breakdown by cities'"></kt-widget14>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet> -->




<!--
<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
		</ng-container>
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body></kt-portlet-body>
	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>
-->
